<!DOCTYPE html>
<html lang="en">

<head>
    <title>MMcG</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <meta name="robots" content="index,follow" />
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="p5.min.js"></script>
    <script src="main.js"></script>
    <script src="game.js"></script>
    <script src="grid.js"></script>
    <script src="snake.js"></script>
    <script src="fruit.js"></script>
</head>

<body class="{{template}}" onload="typewriter()">
    <div class="content">
        {{{body}}}
    </div>
    {{> footer}}
</body>

</html>