body {
	height: 100vh;
	width: 100vw;
	font-family: "Courier New", monospace;
	margin: 0;
	padding: 0;
	background-color: white;
}

.content {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 100px;
	grid-auto-rows: minmax(100px, auto);
	grid-row-gap: 10px;
	grid-column-gap: 20px;
	text-align: center;
	justify-content: center;
	align-content: center;
	height: 100%;
	justify-items: center;
	align-items: center;
}

.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;
	border-radius: 5px;
	margin: 10px;
}

.card:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.cardContainer {
	padding: 2px 16px;
}
