<div class="typewriter">
    <h1 id="typedtext"></h1>
</div>
<div>
    <a class="logo" href="https://github.com/DaVinciTachyon" target="_blank">
        <img src="images/github.svg">
    </a>
    <a class="logo" href="https://www.linkedin.com/in/michaelmcguinnessli/" target="_blank">
        <img src="images/linkedin.svg">
    </a>
    <a class="logo" href="mailto:michael@michaelmcguinness.net" target="_blank">
        <img src="images/email.svg">
    </a>
    <a class="logo" href="code/">
        <img src="images/code.svg">
    </a>
</div>