<div class="container">
    <div id="snake">
        <script>
            setUpSnake('snake');
        </script>
    </div>
    <div class="card">
        <div id="scoreBoard">
            <h2>ScoreBoard</h2>
            <p>Your Score</p>
            <div id="score">0</div>
            <p>High Score</p>
            <div id="highscore">0</div>
        </div>
    </div>
</div>