body {
	height: 100vh;
	width: 100vw;
	font-family: "Courier New", monospace;
	margin: 0;
	padding: 0;
	background-color: white;
	padding-top: 5em;
	display: flex;
	justify-content: center;
}

.typewriter h1 {
	font-size: 3rem;
}

a {
	text-decoration: none;
	display: inline-block;
}

img {
	height: 40px;
	width: 40px;
}

.logo {
	margin: 5px;
	padding: 0;
	display: inline-block;
}

.logo:hover {
	-webkit-filter: drop-shadow(5px 5px 1px rgba(0, 0, 0, 0.5));
	filter: drop-shadow(5px 5px 2px rgba(0, 0, 0, 0.5));
}

.content {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 100px;
	grid-auto-rows: minmax(100px, auto);
	grid-row-gap: 10px;
	grid-column-gap: 20px;
	text-align: center;
	justify-content: center;
	align-content: center;
	height: 100%;
	justify-items: center;
	align-items: center;
}
